@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,300;0,400;0,500;1,300&family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tela {
  min-height: 100vh;
  background: #f4f7f5;
  border-radius: var(--border-radius-lg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  font-family: "DM Sans", sans-serif;
}

.lado-esquerdo {
  background: #fff;
  padding: 52px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sistema {
  font-family: "Space Mono", monospace;
  font-size: 10px;
  letter-spacing: 0.18em;
  color: #1d9e75;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.titulo {
  font-size: 26px;
  font-weight: 300;
  color: #0f1f14;
  line-height: 1.15;
  margin-bottom: 6px;
  letter-spacing: -0.01em;
}

.titulo strong {
  font-weight: 500;
  color: #0f6e56;
}

.subtitulo {
  font-size: 13px;
  color: #8a9e93;
  margin-bottom: 40px;
  line-height: 1.5;
}

.login {
  margin-bottom: 18px;
}

.input {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #7a9186;
  margin-bottom: 8px;
  display: block;
}

.resposta {
  width: 100%;
  height: 46px;
  background: #f4f7f5;
  border: 0.5px solid #d0ddd6;
  border-radius: 8px;
  color: #0f1f14;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  padding: 0 16px;
  outline: none;
  transition:
    border-color 0.2s,
    background 0.2s;
  box-sizing: border-box;
}

.btn-entrar {
  width: 100%;
  height: 48px;
  background: #1d9e75;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  transition:
    background 0.2s,
    transform 0.1s;
}

.btn-entrar:hover {
  background: #0f6e56;
}
.btn-entrar:active {
  transform: scale(0.98);
}

.lado-direito {
  background: #f4f7f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 32px;
  gap: 0;
}

.card {
  background: #fff;
  border-radius: 16px;
  border: 0.5px solid #d8e8df;
  padding: 24px 28px;
  width: 100%;
  max-width: 240px;
  margin-bottom: 14px;
}

.texto {
  font-family: "Space Mono", monospace;
  font-size: 10px;
  letter-spacing: 0.12em;
  color: #9ab5a9;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-align: center;
}

.textinho {
  font-size: 11px;
  color: #b0c4ba;
  margin-top: 16px;
  font-family: "Space Mono", monospace;
  letter-spacing: 0.08em;
}

/*Caso esteja em tela menor! */

@media (max-width: 768px) {
  .tela {
    grid-template-columns: 1fr;
    height: auto;
    min-height: 100vh;
  }

  .lado-esquerdo {
    padding: 40px 24px;
  }

  .lado-direito {
    padding: 40px 24px;
  }
}
